body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root
{
	
}

.container{
	width: 400px;
	padding: 20px 20% 20px 20%;
}
.heading{
	font-size: 20pt;
	padding: 10px 10px 10px 10px;
}
.tempr{
	font-size: 17pt;
}
.theRest{
	font-size: 14pt;
}